@{ 
    ViewBag.Title = "Home Page";
}


    <div class="col-md-9">
    <div class="product-info">
        <img src="~/img/VanGogh.jpg" />
        <h3>Mug</h3>
        <ul class="product-pros">
            <li>Price: $100</li>
            <li>Artist: Van Gogh</li>
            <li>Title:</li>
            <li>Description:Self-portrait</li>
        </ul>
        <button id="buyButton" class="btn btn-success">buy</button>
    </div>
    <div id="theForm">
        <form>
            <label>UserName:</label>
            <br />
            <input />
            <br />
            <label>Email:</label>
            <br />
            <input type="email" />
            <br />
            <label>Subject:</label>
            <br />
            <input type="text" />
            <br />
            <label>Massage:</label>
            <br />
            <textarea rows="4"></textarea>
            <br />
            <input type="submit" value="Send Message" />




        </form>
    </div>
